@font-face {
  font-family: 'Seurat';
  src: url('/fonts/FOT-Seurat.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rodin';
  src: url('/fonts/FOT-RodinBokutoh.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary: #FBFBFB;
  --background-secondary: #FAF6EB;
  --foreground-primary: #887E62;
  --foreground-secondary: #B9B3A0;
  --foreground-active: #63BEAD;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-primary);
  color: var(--foreground-primary);
}