@font-face {
  font-family: 'Seurat';
  src: url('/fonts/FOT-Seurat.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rodin';
  src: url('/fonts/FOT-RodinBokutoh.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #FBFBFB;
  --black: #4D3C3B;
  --background-primary: #FFFFF4;
  --background-secondary: #FAF6EB;
  --foreground-primary: #887E62;
  --foreground-secondary: #B9B3A0;
  --foreground-inverse: #FBFBFB;
  --foreground-active: #63BEAD;
  --foreground-button-primary: #FCF0B1;
  --foreground-button-primary-hover: #F9D650;
  --foreground-button-secondary: #63BEAD;
  --foreground-button-secondary-hover: #45A694;
  --foreground-button-ghost-hover: #F9D650;
  --shadow: #EFEADD;
  --overlay: #382d2d40;
  --accent-orange: #FF6C00;
  --accent-blue: #829FF6;
  --accent-green: #4CB89C;
  --accent-purple: #C27BF6;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background-primary);
  color: var(--foreground-primary);
}

* {
  box-sizing: border-box;
  outline: none;
}

*:not(input):not(textarea):not(button):not(select):not(option):not(a):not(img) {
  user-select: none;
}